{% extends "base.html" %}
{% block index %}
	<div data-role="page" id="Home">
		<div data-theme="a" data-role="header" data-position="fixed" data-disable-page-zoom="true" data-tap-toggle="false">
			<h1>NextRide</h1>
		</div><!-- header -->
		<div data-role="content">
			<p id="description">This is an open source application available on GitHub <a href="https://github.com/alykhank/NextRide">here</a>.</p>
			<h2>API Usage:</h2>
			<ul>
				<li>
					Access the 'api' endpoint with a stop encoded as a query parameter: <a href="/api?stop=2000" data-ajax="false">/api?stop=2000</a>
				</li>
			</ul>
			<h2>API Demo:</h2>
			<ul>
				<li>
					Access the 'm' endpoint with a stop encoded as a query parameter: <a href="/m?stop=2000" data-ajax="false">/m?stop=2000</a>
				</li>
			</ul>
		</div><!-- content -->
	</div>
{% endblock index %}
