<!DOCTYPE html>
<html>
<head>
	<title>NextRide</title>
	<style type="text/css">
		body {
			font-family: Helvetica, Arial, sans-serif;
		}
	</style>
</head>
<body>
	<h1>NextRide</h1>
	<h3>Correct usage of this API:</h3>
	<ul>
		<li>
			Access the 'get' endpoint with a stop encoded as a query parameter: http://nextride.herokuapp.com/get?stop=2000
		</li>
	</ul>
	<h3>This application is open source. You should view the code on GitHub <a href="https://github.com/alykhank/NextRide">here</a>.</h3>
</body>
</html>
